body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.WideCenterToast {
  min-width: 80%;
  margin: 5px;
}

.WideCenterRow {
  min-width: 80%;
}

.PaddedToast {
  margin: 5px;
}

.PaddedCard {
  margin-top: 10px;
}

.PaddedAlert {
  margin-top: 10px;
}

.PaddedTicketDesc {
  margin-top: 5px;
  margin-bottom: 20px;
}

.UserMessageTitle {
  color: #FF5555
}
